# Ignore Image #
################

*.jpg
*.jpeg
*.png
*.pkl

# The VGG19 Model #
###################

*.mat

# The Profiling file #
######################

*.json

# The Spyder folder #
#####################

__pycache__/*

*.pyc

# The PDF      #
################

*.pdf
Results/*

