# Ignore Image #
################

*.jpg
*.jpeg
*.png
*.pkl
*.JPG

# The VGG19 Model #
###################

*.mat

# The Profiling file #
######################

*.json

# The Spyder folder #
#####################

__pycache__/*

*.pyc

# The PDF      #
################

*.pdf
Results/*

# The data folder #
###################

data/*

# The array      #
################

*.npy

# Autre #
###################
.ipynb_checkpoints
.ipynb_checkpoints/*
Coeffs.txt
Images1024_output/*
KL_methods.csv
